.venv/
target/
front-end/node_modules/
front-end/dist/
.cargo-install-target/
.cargo-temp/
.local-node/
*.contract
*.wasm
*.json
!model/membership.json
!scripts/*.json
!front-end/package.json
!front-end/package-lock.json
!.gitignore
__pycache__/
.env
contract-address.txt
